#regex_playground > div {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

#regex_playground > div div{
  flex: 0 0 100%;
  display: flex;
  align-items: center;
}

#regex_playground > div div span{
  font-size: 1.2rem;
  padding: 0.5rem;
}

#regex_playground > div div input{
  padding: 0.4rem 0.7rem;
  border-radius: 0.2rem;
  border: 1px solid #000022;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  flex: 5;
}

#regex_playground > div div input:nth-of-type(2){
  flex: 1;
}

#regex_playground > div textarea{
  flex: 0 0 calc(50% - 1rem);
  height: calc(100% - 1rem);
  padding: 0.4rem 0.7rem;
  margin-top: 1rem;
  resize: none;
  border-radius: 0.2rem;
  border: 1px solid #000022;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

#regex_playground > div ul{
  flex: 0 0 calc(50% - 1rem);
  height: calc(100% - 1rem);
  margin-top: 1rem;
  padding: 0.4rem 0.7rem;
  border-radius: 0.2rem;
  border: 1px solid #000022;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  list-style: none;
}

#regex_playground > div ul.error{
  display: flex;
  align-items: center;
  justify-content: center;
}

#regex_playground > div ul span{
  color: #c42847;
  font-size: 1.2rem;
  text-align: center;
}

#example > div {
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#example > div textarea{
  flex: 0 0 calc(30% - 1rem);
  height: calc(100% - 10rem);
  padding: 0.4rem 0.7rem;
  margin-top: 1rem;
  resize: none;
  border-radius: 0.2rem;
  border: 1px solid #000022;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

#example > div > div{
  flex: 0 0 calc(30% - 1rem);
  height: calc(100% - 10rem);
  padding: 0.4rem 0.7rem;
  margin-top: 1rem;
  border-radius: 0.2rem;
  border: 1px solid #000022;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

#example > div > div span{
  flex: 0 0 max-content;
  padding: 0.4rem 0.3rem;
  margin-bottom: 0.3rem;
  border-radius: 0.2rem;
  display: block;
  margin-right: 0.3rem;
}

#example > div > span{
  padding: 0.4rem 0.7rem;
  font-size: 1.5rem;
  font-weight: 800;
  flex: 1;
  text-align: center;
}

#example > div table{
  flex: 0 0 100%;
  width: 100%;
  height: 7rem;
  margin-top: 1rem;
}

#example > div table thead th{
  background-color: #000022;
  font-size: 0.9rem;
  color: #fbfbfb;
  padding: 0.5rem;
}

#example > div table tbody td{
  border: 1px solid #000022;
  text-align: center;
  vertical-align: middle;
  padding: 0.3rem;
}

#example > div table tbody td input{
  width: 5rem;
  margin: -0.3rem;
  height: 100%;
  border: none;
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;

}

#example > a {
  text-decoration: none;
  font-weight: 300;
  transition: all 0.7s;
  margin-bottom: -1rem;
  margin-top: 1rem;
}

#example > a:hover, #example > a:focus {
  outline: none;
  color: #e28413;
}
